## Initialize Spark Environment and Imports

In [1]:
import findspark
findspark.init('/home/shahayush954/spark-3.4.1-bin-hadoop3')

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('groupByAndAggregate').getOrCreate()

23/08/13 18:59:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
df = spark.read.csv('sales_info.csv', inferSchema=True, header=True)

In [6]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [7]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

## Group By Operations

In [8]:
df.groupby("Company").mean().show() # average sales by company

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [9]:
df.groupby("Company").sum().show() # sum of sale by company

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [10]:
df.groupby("Company").max().show() # max sale by company

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [11]:
df.groupby("Company").min().show() # min sales by company

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [12]:
df.groupby("Company").count().show() # number of entries per company

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

## Aggregation Operation

In [13]:
df.agg({'Sales': 'sum'}).show() # sum of all sales

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [14]:
df.agg({'Sales': 'max'}).show() # max of all sales

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [15]:
df.agg({'Sales': 'min'}).show() # min of all sales

+----------+
|min(Sales)|
+----------+
|     120.0|
+----------+

In [16]:
df.agg({'Sales': 'mean'}).show() # average of all sales

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

## Spark inbuilt functions

In [17]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [18]:
df.select(countDistinct('Sales')).show() # number of distinct sales values

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [19]:
df.select(avg('Sales')).show() # average sales value

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [20]:
df.select(stddev('Sales')).show() # standard deviation of sale values

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [21]:
df.select(avg('Sales').alias('Average Sales')).show() # average sales value with renamed result

+-----------------+
|    Average Sales|
+-----------------+
|360.5833333333333|
+-----------------+

## OrderBy Operations

In [22]:
df.orderBy('Sales').show() # order by sales ascending order

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [24]:
df.orderBy(df['Sales'].desc()).show() # order by sales descending order

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+